#grid {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(20, 32px);
    border: 1px solid #aaaaaa;
}

#propertywindow {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border: 1px solid #aaaaaa;
    grid-column-start: 3;
}

#bottommenu {
    display: grid;
    grid-template-columns: auto 10% auto;
    border: 1px solid #aaaaaa;
}


.cell {

}
.hor {
    height: 30%;
    width: 30%;
    border: 1px solid #aaaaaa;
}

#toolbox {
    display: grid;
    width: auto;
    height: 100px;
    padding: 0px;
    border: 1px solid #aaaaaa;
}

#toolbox .tool {
    width:  80px;
}

#grid input {
    font-size: 12px;
}

#grid p {
    font-size: 12px;
}

input {
    width: 100%;
    height: 100%;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

div {
    border: 1px solid #aaaaaa;
}