#grid {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(20, 32px);
    background-color: #36383D;

}

body {
    background-color: #1E2226;
    -webkit-text-fill-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}



#propertywindow {
    display: flow;
    border: 1px solid #aaaaaa;
    background-color: #36383D;
    grid-column-start: 3;
}

#bottommenu {
    height: auto;
    display: grid;
    grid-template-columns: auto 10% auto;
    border: 1px solid #aaaaaa;
    background-color: #36383D;
}


.cell {
    width: 100%;
    height: 100%;
    padding: 0px;

}
.hor {
    height: 30%;
    width: 30%;

}

#toolbox {
    display: grid;
    width: auto;
    height: 100px;

    border: 1px solid #aaaaaa;
}

#toolbox .tool {
    width:  80px;
}

#grid input {
    font-size: 12px;
    width: 100%;
    height: 100%;
}

#grid p {
    font-size: 12px;
    vertical-align: middle;

}

#grid h1 {
    font-size: 16px;
    vertical-align: middle;

}

#grid .border {
    border: 1px dotted #aaaaaa;
}

input {
    padding: 0;
    border: 0;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    background-color: #1E2226;
}

div {

}