#grid {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(20, 2em);
    border: 1px solid #aaaaaa;
}

.cell {
    border: 1px solid #aaaaaa;

}
.hor {
    height: 30%;
    width: 30%;
    border: 1px solid #aaaaaa;
}

#toolbox {
    width: auto;
    height: 100px;
    padding: 0px;
    border: 1px solid #aaaaaa;
}

div {
    border: 1px solid #aaaaaa;
}