.button-static {
padding: 2px 4px;
background-color: #595C5F;
}

.button-static:hover {
    background-color: #4D5154;
}

.button-primary {
    padding: 2px;
background-color: #6078EA;
}

.button-primary:hover {
    background-color: #4F6BE8;
}

.button-danger {
    padding: 2px;
    background-color: #F75B5E;  
}

.button-danger:hover {
    background-color: #FC474A;
}